{% extends 'elonomics/base.html' %}

{% block title %}Elonomics - Games{% endblock %}

{% block content %}
<h2>Games</h2>

{% if error_message %}
    <p class="error">{{ error_message }}</p>
{% endif %}

<h3>Add Game</h3>
<form action="{% url 'submit_game' %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon">Time Played</span>
                <input type="text" name="time_played" class="form-control" placeholder="YYYY-MM-DD hh:mm" />
            </div>
        </div>
        <div class="col-lg-6">
          <div class="input-group">
              <span class="input-group-addon">Story</span>
              <input type="text" name="story" class="form-control" placeholder="In a long and adventurous battle..." />
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5">
            <div class="input-group">
                <span class="input-group-addon">Player 1</span>
                <select name="player1" class="form-control">
                {% for player in players %}
                    <option value="{{ player.user_name }}">
                        {{ player.full_name }}
                        ({{ player.elo_score }})
                    </option>
                {% endfor %}
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Sign-off</span>
                <input type="password" name="signoff1" class="form-control"><br>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="input-group">
                <span class="input-group-addon">Outcome</span>
                <select name="outcome" class="form-control">
                {% for value, name in outcomes %}
                    <option value="{{ value }}">
                        {{ name }}
                    </option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="input-group">
                <span class="input-group-addon">Player 2</span>
                <select name="player2" class="form-control">
                {% for player in players %}
                    <option value="{{ player.user_name }}">
                        {{ player.full_name }}
                        ({{ player.elo_score }})
                    </option>
                {% endfor %}
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Sign-off</span>
                <input type="password" name="signoff2" class="form-control"><br>
            </div>
        </div>
    </div>
    <input type="submit" value="Add Game" class="btn btn-block btn-primary" />
</form>

{% if game_groups %}
    {% for day, games in game_groups.items %}
        <h3>{{ day }}</h3>
        <ul class="list-group">
        {% for game in games %}
            <li class="list-group-item">
                <h4 class="list-group-item-heading">{{ game.story }}</h4>
                <p class="list-group-item-text">
                    {{ game.player1.full_name }}
                    ({{ game.player1_before_game_elo }})
                    {{ game.get_outcome_display }}
                    {{ game.player2.full_name }}
                    ({{ game.player2_before_game_elo }})
                </p>
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
{% else %}
    <p>No games have been played.</p>
{% endif %}
{% endblock %}
