{% extends 'elonomics/base.html' %}

{% block title %}Elonomics - Games{% endblock %}

{% block content %}
<h1>Games</h1>

{% if error_message %}
    <p class="error">{{ error_message }}</p>
{% endif %}

<form action="{% url 'submit_game' %}" method="post">
{% csrf_token %}
Time played: <input type="text" name="time_played"><br>
Story: <input type="text" name="story"><br>
Player 1:
<select name="player1">
{% for player in players %}
    <option value="{{ player.user_name }}">
        {{ player.full_name }}
        ({{ player.elo_score }})
    </option>
{% endfor %}
</select><br>
Sign-off: <input type="text" name="signoff1"><br>
Outcome:
<select name="outcome">
{% for outcome in outcomes %}
    <option value="{{ outcome }}">
        {{ outcome }}
    </option>
{% endfor %}
</select><br>
Player 2:
<select name="player2">
{% for player in players %}
    <option value={{ player.user_name }}>
        {{ player.full_name }}
        ({{ player.elo_score }})
    </option>
{% endfor %}
</select><br>
Sign-off: <input type="text" name="signoff2"><br>
<input type="submit" value="Submit" />
</form>

{% if game_groups %}
    {% for day, games in game_groups.items %}
        <h2>{{ day }}</h2>
        <ul class="list-group">
        {% for game in games %}
            <li class="list-group-item">
                <h3 class="list-group-item-heading">{{ game.story }}</h3>
                <p class="list-group-item-text">
                    {{ game.player1.full_name }}
                    ({{ game.player1_before_game_elo }})
                    {{ game.outcome }}
                    {{ game.player2.full_name }}
                    ({{ game.player2_before_game_elo }})
                </p>
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
{% else %}
    <p>No games have been played.</p>
{% endif %}
{% endblock %}
