{% extends 'elonomics/base.html' %}

{% block title %}Elonomics - {{ player.full_name }}{% endblock %}

{% block content %}
<h2>{{ player.full_name }}</h2>
<p>Score: {{ player.elo_score }}</p>
<h3>Games</h3>
{% if games %}
    <ul class="list-group">
    {% for game in games %}
        <li class="list-group-item">
            <h4 class="list-group-item-heading">{{ game.story }}</h4>
            <p class="list-group-item-text">
                {{ game.player1.full_name }}
                ({{ game.player1_before_game_elo }})
                {{ game.outcome }}
                {{ game.player2.full_name }}
                ({{ game.player2_before_game_elo }})
            </p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No games played</p>
{% endif %}
{% endblock %}
